/*
bg: #18191c
red: #ff6c7e
blue: #5f9eff
*/

:root,
[data-theme="dark"] {
	--color-main: #ff6c7e;
	--color-main-dark: #4d2c30;
	--color-alt: #5f9eff;
	--color-bg: #18191c;

	/* Huge thank you to angel-rs for the color filter generator.
	https://angel-rs.github.io/css-color-filter-generator/ */
	--color-filter-main: brightness(0) saturate(100%) invert(54%) sepia(13%) saturate(5810%) hue-rotate(317deg) brightness(112%) contrast(101%);
	--color-filter-alt: brightness(0) saturate(100%) invert(54%) sepia(69%) saturate(1170%) hue-rotate(193deg) brightness(100%) contrast(103%);
	--color-filter-bg: brightness(0) saturate(100%) invert(7%) sepia(10%) saturate(541%) hue-rotate(187deg) brightness(101%) contrast(95%);

	--border: url('images/border_dark.png');
	--bgimg: url('images/bg_dark.png');
}

[data-theme="light"] {
	--color-main: #d454a6;
	--color-main-dark: #faccff;
	--color-alt: #1db0bd;
	--color-bg: #f0f6e8;

	--color-filter-main: brightness(0) saturate(100%) invert(47%) sepia(90%) saturate(549%) hue-rotate(280deg) brightness(86%) contrast(92%);
	--color-filter-alt: brightness(0) saturate(100%) invert(55%) sepia(91%) saturate(374%) hue-rotate(136deg) brightness(88%) contrast(97%);
	--color-filter-bg: brightness(0) saturate(100%) invert(92%) sepia(19%) saturate(155%) hue-rotate(55deg) brightness(106%) contrast(93%);

	--border: url('images/border_light.png');
	--bgimg: url('images/bg_light.png');
}


@font-face {
	font-family: 'basiic';
	src: url('fonts/basiic.ttf');
}

@font-face {
	font-family: 'tiny';
	src: url('fonts/basiic_sans_12pt.ttf');
}

@font-face {
	font-family: 'title';
	src: url('fonts/basiic_style_sans.ttf');
}


* {
	box-sizing: border-box;
	scrollbar-color: var(--color-main) var(--color-bg);
	scrollbar-width: thin;
}

::selection {
	background: var(--color-main-dark);
}

body {
	color: var(--color-main);
	background: var(--color-bg);
	background-image: var(--bgimg);
	font-family: 'tiny', "ＭＳ Ｐゴシック", verdana;
	font-size: 16px;
	max-width: 1200px;
	margin: auto;
}

img {
	max-width: 100%;
}

header {
	position: relative;
	height: 100px;
	padding: 10px;
	text-align: center;
}

main {
	background: var(--color-bg);
	display: flex;
	flex-wrap: wrap;
	border: 5px solid;
	border-image: var(--border) 5 round;
}

footer {
	font-family: 'ＭＳ Ｐゴシック';
	background: var(--color-bg);
	padding: 5px;
	text-align: center;
	border: 5px solid;
	border-image: var(--border) 5 round;
	border-top: none;
}

aside {
	width: 20%;
	text-align: center;
}

aside img {
	padding: 5px;
}

section,
iframe {
	width: 60%;
	border-left: 5px solid;
	border-right: 5px solid;
	border-image: var(--border) 5 round;
	height: 750px;
	overflow: auto;
}


nav {
	width: 20%;
}

nav h2 {
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted;
}

nav h2:before {
	content: none;
}

nav h3 {
	border-bottom: 1px dotted;
	border-top: 1px dotted;
	margin-top: 10px;
}

nav h3:nth-child(2) {
	border-top: none;
	margin-top: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-family: 'title';
	padding: 5px;
	margin: 0;
	text-align: center;
}

h1:before {
	content: url('images/icons/star.png');
	padding-right: 5px;
	filter: var(--color-filter-alt);
}

h1:after {
	content: url('images/icons/star.png');
	padding-left: 5px;
	filter: var(--color-filter-alt);
}

header h1 {
	border: none;
	margin: 0;
}

h2 {
	padding: 2px;
	margin: 3px 0;
	margin-top: 25px;
	margin-bottom: 15px;
	border-bottom: 1px dotted;
}

h2:before {
	content: '⋆˖⁺‧₊ ';
}

h2:after {
	content: ' ₊‧⁺˖⋆'
}

h1,
h2 {
	margin: 10 25px;
	margin-bottom: 5px;
	border-bottom: 1px dotted;
}

aside h2 {
	border-top: 1px dotted;
}

nav h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	text-align: center;
	padding-left: 10px;
}

h3:before {
	content: url('images/icons/star.png');
	padding-right: 5px;
	filter: var(--color-filter-alt);
}

h3:after {
	content: url('images/icons/star.png');
	padding-left: 5px;
	filter: var(--color-filter-alt);
}

nav h3 {
	text-transform: none;
	padding: 5px 15px;
}


a {
	color: var(--color-main);
}

a:hover {
	color: var(--color-alt);
}


hr {
	color: var(--color-main);
	border: none;
	border-bottom: 1px dotted;
}

p {
	padding: 5px 40px;
}

audio {
	margin: 5px 40px;
	border-radius: 15px;
	height: 15px;
}

ul {
	list-style-type: "₊‧⁺˖⋆ ";
	color: var(--color-main);
	margin: 0;
	padding: 0 5px;
	margin: 10px 50px;
}

nav ul {
	margin: 0;
}

li {
	padding: 2px 5px;
}

button {
	font-family: 'basiic';
	font-size: 1rem;
	padding: 0 2px;
	margin: 0;
	background: var(--color-bg);
	color: var(--color-main);
	border: 1px solid;
}

button:hover {
	cursor: pointer;
}

/* --- */


.color-main {
	filter: var(--color-filter-main);
}

.color-alt {
	filter: var(--color-filter-alt);
}

.color-bg {
	filter: var(--color-filter-bg);
}

.index {
	background: var(--color-bg);
	background-image: var(--bgimg);
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex li:before {
	content: none;
}

.flex li {
	padding: 20px;
}

.collapsible {
	cursor: pointer;
	display: none;
}

.content {
	display: block;
}

#content {
	width: 714px;
	height: 750px;
	border: 5px solid;
	border-image: var(--border) 5 round;
	border-top: none;
	border-bottom: none;
	overflow: auto;
}